/*
 * Box
*/
.box .box-header {
    border-bottom: 1px solid #f4f4f4;
}

/*.sidebar a {
    margin-top: -3px;
}

.sidebar-menu-title {
    float: left;
    min-width: 81%;
}

.sidebar-menu-title1 {
    float: left;
    min-width: 81%;
}

.sidebar-menu .treeview-menu li {
    //margin: 6px 3px 5px 10px !important;
}
.sidebar-menu .treeview-menu .li a {
    display: block;
    float: left !important;
    font-size: 14px;
    margin-top: -7px;
    padding: 5px 5px 5px 15px;
    min-width: 81% !important;
}

.skin-red .treeview-menu > li > a {
    color: #8aa4af;
    //float: left;
    width: 80%;
}
.label.pull-right.bg-blue.link {
    margin-right: 10px;
    margin-top: 10px;
}*/


input[type="file"] {
    height: auto !important;
}
input[type="checkbox"], input[type="radio"] {
    line-height: normal;
    margin: 4px 7px;
}
.clear.clearfix {
    float: left;
    width: 100%;
}
.panel-footer {
    height: 55px !important;
}

/*
 * Form
*/ 
.form-group .radio label.radio-heading {
    font-weight: bold;
    padding: 0px 20px 0px 0px;
}

/* Filters */

.filters .box-header .filter_icon_bg {
    border: none;
    background: none;
}
legend{  
    color: #333;
    display: block;    
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 14px;
    border-bottom: none;
}
.input.select,.input.textarea,.input.text{
    width:100%;
}